<div class="row">
  <div class="col-md-2">
    <h3>Filtros</h3>
    <div class="form-group">
      <label for="exampleFormControlInput1">Geohash</label>
      <input type="text" class="form-control" id="geohash" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Tipo de vehiculo</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Bici</option>
        <option>Moto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Tipo de órden</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Restaurante</option>
        <option>Mercado</option>
        <option>Rappicash</option>
        <option>Rappifavor</option>
        <option>Antojo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Saturación</label>
      <label class="form-control radio-inline">
        <input type="radio" name="optradio" checked>Tipo de órdenes</label>
      <label class="form-control radio-inline">
        <input type="radio" name="optradio">Falta de vehiculos</label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg btn-block">Buscar</button>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Mapa</h3>
    <ngui-map center="Bogota, Colombia" style="width:1100px;height:450px">
      <marker *ngFor="let pos of positions" [position]="pos" (initialized$)="onMarkerInit($event)"></marker>

      <custom-marker position="Bogota, Colombia">
        <div>
          <img src="http://icons.iconarchive.com/icons/hopstarter/flag-borderless/16/Colombia-icon.png" />
        </div>
      </custom-marker>
    </ngui-map>
  </div>
</div>